@import "../../../styles/breakpoints.scss";

.logos {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10rem;
  padding-right: 10rem;
  @include media("<=phone") {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
  @include media (">=tablet"){

    padding-left: 0rem;
    padding-right: 0rem;
  }
  @include media(">=LGdesktop"){
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}
  }

.logos div {
  width: 14%;
  height: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  @include media("<=phone") {
    width: 26%;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    @include media("<=phone") {
      padding: 15px;
      justify-content: space-between;
    }
    @include media(">=tablet") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media(">=desktop") {
      padding-left: 22rem;
      padding-right: 22rem;
  
    }
    @include media(">=LGdesktop") {
      padding-left: 22rem;
      padding-right: 22rem;
      height: 4rem;
  
    }
 
   
   
  
  }
  @include media(">=LGdesktop") {
    height: 4rem;

  }
}
.logos div img {
  height: 100%;
  @include media("<=phone") {
    height: 90%;
  }
}



  