@import "../../../styles/breakpoints.scss";

.logos {
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    @include media("<=phone") {
      padding: 15px;
      justify-content: space-between;
    }
    @include media(">=tablet") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media(">=LGdesktop") {
      padding-left: 22rem;
      padding-right: 22rem;
  
    }
    @include media(">=desktop") {
      padding-left: 18rem;
      padding-right: 18rem;
  
    }
   
   
  
  }
  .logos div {
    width: 14%;
    height: 3rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    @include media("<=phone") {
      width: 100%;
      height: 3.5rem;
    }
  }
  .logos div img {
    height: 100%;
    @include media(">=phone") {
      height: 80%;
    }
  }



  