.banner {
    width: 100%;
    height: 99vh;
    background: url(../../../assets/Portfolio/Single/1.png) no-repeat center center /
      cover;
    position: relative;
  
    .head {
      width: 60%;
      position: absolute;
      bottom: 48px;
      left: 50px;
      h5{
        font-family: var(--font-primary);
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        // text-align: center;
        margin-bottom: 10px;
        letter-spacing: -0.02px;
        color: #E5E5E5;
      }
      h3 {
        font-family: var(--font-primary);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -0.00304em;
        color: #e5e5e5;
        margin-bottom: 10px;
      }
      h1 {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.00014em;
        color: #ffffff;
      }
    }
  }
  