@import "../../../styles/breakpoints.scss";

.introSection {
  padding: 60px 20px;
  background-color: #ffffff;

  .container {
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .imageWrapper {
    text-align: center;
    width: 50%;

    .image {
      color: transparent;
      height: 100%;
      max-width: 525px;
    }
  }

  .content {
    padding: 20px;
    width: 50%;

    .heading {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 20px;
      padding: 10px 0;
      color: #6d7d7f;

      .link {
        color: #0070f3;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.solutionSection {
  background: transparent linear-gradient(290deg, #0b262a, #007685) 0 0
    no-repeat padding-box;
  padding: 25px 20px;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  float: none;
  box-sizing: border-box;
}

.solutionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 25px 0;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.title {
  width: 70%;
}

.whiteText {
  color: #ffffff;
  font-size: 27px;
  margin-bottom: 10px;
}

.subTitle {
  color: #ccdfe1;
  font-size: 18px;  
}

.fillbtn {
  text-align: right;
}

.fill {
  position: relative;
  display: block;
  width: fit-content;
  padding: 13px 18px;
  font-size: var(--font-size-20);
  border: 1px solid #00a7ad;
  border-radius: 5px;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  background-color: #00a7ad;
  text-decoration: none;
  color: white;

  &:hover {
    background-color: transparent;
    -webkit-transition: bottom 0.2s ease-in;
  }
  .fill:before {
    content: "";
    position: absolute;
    background: #00a7ad;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: bottom 0.7s ease-in;
    height: 100%;
  }
}
