@import "../../../styles/breakpoints.scss";

.servicesSection {
  background-color: #0b262a;
  padding: 50px 90px;
  color: #fff;
  position: relative;

  .container {
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    box-sizing: border-box;
  }

  .heading {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
  }

  .subheading {
    font-size: 17px;
    margin-bottom: 40px;
    color: #ccdfe1;
    line-height: 25px;
  }

  .cardsContainer {
    display: flex;
    margin: 0 -12px;
    flex-wrap: wrap;
  }
  .card:hover {
    background-color: white;
    color: #a4508b;
  }
  .heading:hover {
    color: #a4508b;
  }
  .cardGrid {
    width: 33.33%;
    padding: 12px;
  }

  .card {
    border-radius: 5px;
    padding: 50px 40px 47px;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 1;
    height: 100%;

    &.background {
      background: linear-gradient(135deg, #a4508b, #5f0a87);
    }

    &.color {
      color: #ffffff;
    }

    .cardNumber {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .cardTitle {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .cardDescription {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
