@import "../../../styles/breakpoints.scss";

.banner {
    width: 100%;
    min-height: 65vh;
    background: var(--primary-color);
    display: flex;
    @include media("<=phone") {
      min-height: 60vh;
    }
  
    &__left {
      width: 50%;
      display: flex;
      align-items: center;
      color: #fff;
      padding-left: 100px;
      @include media("<=phone") {
        width: 100%;
        padding-left: 15px;
      }
      p {
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 10px;
        font-family: var(--font-primary);
        color: #E5E5E5;
      }
      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.00014em;
        font-family: var(--font-primary);
        @include media("<=phone") {
          font-size: 30px;
        }
      }
      h1.mobileViewHeading {
        @include media("<=phone") {
          display: block;
        }
        @include media(">=phone") {
          display: none;
        }
      }
      h1.desktopViewHeading {
        @include media("<=phone") {
          display: none;
        }
        @include media(">=phone") {
          display: block;
        }
      }
      a {
        text-decoration: none;
        color: var(--primary-color);
        background: var(--primary-color-light);
        margin-top: 45px;
        width: 199px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 21px;
        font-family: var(--font-secondary);
        font-weight: 600;
        border-radius: 4px;
      }
    }
  
    &__right {
      width: 50%;
      position: relative;
      @include media("<=phone") {
        width: 100%;
        display: none;
      }
      .frame {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 600px;
      }
    }
  }
  