@import "../../../styles/breakpoints.scss";

.services {
  width: 100%;
  min-height: 85vh;
  background: #f5f5f7;
  padding-bottom: 20px;
  @include media("<=phone") {
    min-height: fit-content;
  }

  &__text {
    padding-top: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    @include media("<=phone") {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 60px;
    }
    @include media(">=LGdesktop") {
      padding-top: 8rem;
    }
    h1 {
      font-size: 36px;
      line-height: 2.8rem;
      text-align: center;
      font-weight: 500;
      margin-bottom: 1rem;
      @include media("<=phone") {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -1px;
      }
      span {
        color: #175fff;
      }
    }
    p {
      width: 64%;
      margin: auto;
      text-align: center;
      font-size: 15px;
      line-height: 21px;
      color: var(--black-color);
      font-family: var(--font-secondary);
      @include media("<=phone") {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
      }
      @include media(">=LGdesktop") {
       width: 50%;
      }
    }
  }

  &__all {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 0rem;
    overflow: hidden;
    @include media("<=phone") {
      padding-bottom: 1.5rem;
      margin-top: 2rem;
    }
    @include media(">=LGdesktop") {
      margin-top: 5rem;
    }
    .slider {
      width: 120%;
      margin-left: -8%;
      @include media("<=phone") {
        width: 250%;
        margin-left: -75%;
      }
      .service {
        width: 20%;
        height: fit-content;
        padding: 10px;
        @include media("<=phone") {
          padding: 10px;
        }
        &__content {
          width: 100%;
          height: fit-content;
          border-radius: 8px;
          padding: 10px 20px;
          background: #ffffff;
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
          border: 1px solid transparent;
          transition: 0.3s;
          @include media("<=phone") {
            padding: 1rem;
          }

          img {
            width: 3rem;
            margin-bottom: 24px;
            transition: 0.3s;
            @include media("<=phone") {
              width: 4rem;
              margin-bottom: 20px;
            }
          }
          h3 {
            font-size: 21px;
            margin-bottom: 26px;
            font-weight: 500;
            letter-spacing: -0.00272em;
            margin-bottom: 14px;
          }
          p {
            font-family: var(--font-secondary);
            font-size: 15px;
            line-height: 21px;
            font-weight: 400;
            text-align: left;
          }
          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #175fff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            margin-top: 22px;
            span {
              &:first-child {
                opacity: 0;
                margin-left: 8px;
                transition: all 0.4s;
              }
              &:last-child {
                margin-left: -2rem;
                font-size: 1.5rem;
                transition: all 0.3s;
              }
            }
          }

          &:hover {
            border: 1px solid var(--primary-color);
            cursor: pointer;
          }
          &:hover a span:first-child {
            opacity: 1;
          }
          &:hover a span:last-child {
            margin-left: 8px;
          }
          &:hover img {
            transform: scale(0.85);
          }
        }
      }
    }
    .globalLink {
      width: 100%;
      text-align: center;
      padding: 2rem 00px 0px 0px;
      @include media(">=LGdesktop") {
        padding-top: 3rem;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #325ce8;
        transition: all 0.3s;
        span {
          font-size: 1.2rem;
          margin-top: 5px;
          margin-left: 10px;
          font-weight: bold;
          transition: 0.3s;
        }
        &:hover span {
          transform: translateX(7px);
        }
      }
    }
  }
}
