@import "../../../styles/breakpoints.scss";

.banner {
    width: 100%;
    min-height: 80vh;
    background: var(--primary-color);
    display: flex;
    padding-top: 5rem;
    @include media("<=phone") {
      min-height: 60vh;
      flex-wrap: wrap;
    }
    @include media(">=desktop"){
      min-height: 70vh;
     
    }
  
    &__left {
      width: 60%;
      display: flex;
      align-items: center;
      color: #fff;
      padding-left: 100px;
      @include media("<=phone") {
        width: 100%;
        padding-left: 15px;
        padding-bottom: 20px;
      }
      p {
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 10px;
        font-family: var(--font-primary);
        color: #E5E5E5;
      }
      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.00014em;
        font-family: var(--font-primary);
        @include media("<=phone") {
          font-size: 30px;
        }
      }
      a {
        display: inline-block;
        text-decoration: none;
        padding: 15px 32px;
        color: var(--primary-color);
        background: var(--primary-color-light);
        margin-top: 2rem;
      }
    }
  
    &__right {
      width: 50%;
      position: relative;
      @include media("<=phone") {
        width: 100%;
        display: none;
      }
      .frame {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        width: 620px;
      }
    }
  }
  