@import "../../../styles/breakpoints.scss";

.container {
  display: flex;
  padding: 100px 0;
  background-color: #f1f4f9;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px 0 0 0;
}

.box {
  background-color: white;
  border-radius: 10px;
  max-width: 1152px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 80px 64px 50px 96px;
  position: relative;
}

.heading {
  font-size: 30x;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #333;
  max-width: 616px;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.imageWrapper {
  border-radius: 80px 0 0 0;
    flex-shrink: 0;
    margin-top: 80px;
    overflow: hidden;
    width: 288px;
}

.image {
 
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.svg {
  position: absolute;
  right: 386px;
  top: 710%;
}
