@import "../../../styles/breakpoints.scss";

.map {
  height: fit-content;
  margin-bottom: 2rem;
  margin-top: 7rem;
  position: relative;
  width: 100%;
  @include media("<=phone") {
    margin-top: 2rem;
  }
  img{
      width: 100%;
  }
}
