@import "../.././styles/breakpoints.scss";

.blogBody {
  width: 100%;
  overflow: hidden;

  h4 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.34px;
    color: #000000;
    margin-bottom: 20px;
    @include media (">=LGdesktop"){
      // margin-bottom: 25px;
      margin-bottom: 24px;
    }
  }

  p.txt {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.000793565em;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    @include media(">=LGdesktop") {
      color: rgba(0, 0, 0, 0.7);
      font-family: var(--font-secondary);
      font-size: 13.9px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.000793565em;
      line-height: 23px;
      width: 113%;
      margin-bottom: 16px;
      // margin-bottom: 20px;
      
    }
  }

  //   TEXT BLOCK
  .text {
    width: 90%;
   padding: 100px;
    @include media(">=LGdesktop") {
      
      
    }
  }

  //   IMAGE BLOCK
  .imageBlock {
    width: 100%;
    height: 80vh;
    @include media(">=LGdesktop"){
      height: 85vh;
    }
  }

  .imageBlock1 {
    background: url(../../assets/Blog/Single/2.png) no-repeat center center /
      cover;
  }

  .imageBlock2 {
    background: url(../../assets/Blog/Single/4.png) no-repeat center center /
      cover;
    margin-top: 40px;
  }

  //   DIVIDER
  .divider {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 51px;
    padding-bottom: 50px;
    @include media (">=LGdesktop"){
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
      width: 100%;
    }

    // padding: 0 100px;
    &__image {
      width: calc(50%);
      margin: 10px;
      @include media (">=LGdesktop"){
        width: calc(50% - 32px);
      }

      img {
        width: 100%;
        margin-top: 30px;
        @include media (">=LGdesktop"){
          width: 100%;
          margin-top: 0;
        }
      }
    }

    &__text {
      width: calc(50%);
      margin-top: 10px;
      font-size: 30px;
      @include media (">=LGdesktop"){
        width: calc(50% - 32px);
      }
    }
  }
  .divider h4{
    font-family: var(--font-primary);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 42px;
  }

  @media (min-width: 280px) and (max-width: 700px) {
    .imageBlock {
      height: 35vh;
    }
    .text {
      margin: 50px auto;
    }
    .divider {
      width: 100%;
      display: block;

      &__image {
        width: calc(100%);

        img {
          width: 100%;
          margin-top: 30px;
        }
      }

      &__text {
        width: calc(100%);
        padding: 10px 20px;
      }
    }
  }
}

// A PROJECT
.aproject {
  // width: 90%;
  padding: 100px;
  @include media(">=LGdesktop"){
    padding: 100px;
    margin-top: -100px;
  }

  .wrapper {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    background: #f7f8fa;
    @include media (">=LGdesktop"){
      background: #f7f8fa;
      display: flex;
      padding: 2rem;
      width: 100%;
    }

    &__left {
      width: 40%;
      height: 40vh;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__right {
      width: 60%;
      height: 40vh;
      padding-left: 64px;

      p.text {
        color: var(--primary-color);
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        padding: 0;
      }

      h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        font-weight: normal;
        line-height: 2.5rem;
        margin-top: 13px;
      }

      .line {
        width: 10rem;
        height: 2px;
        margin-top: 32px;
        background: var(--black-color);
      }

      p.text {
        display: block;
        color: var(--black-color);
        margin-top: 32px;
        font-size: 15px;
        line-height: 21px;
        font-family: var(--font-secondary);
        @include media (">=LGdesktop"){
         
          width: 100%;
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-top: 34px;
        display: flex;

        span {
          font-size: 1.5rem;
          margin-left: 10px;
        }
      }
    }
  }

  @media (min-width: 280px) and (max-width: 700px) {
    .wrapper {
      display: block;
      background: #f7f8fa;

      &__left {
        width: 100%;
        height: 40vh;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__right {
        width: 100%;
        height: 40vh;
        padding-left: 0px;
      }
    }

    .divider {
      display: block !important;
      padding: 0px 0px;
    }
  }
}
