@import "../../../styles/breakpoints.scss";

.banner {
  width: 100%;
  min-height: 80vh;
  background: var(--primary-color);
  display: flex;
  @include media("<=phone") {
    flex-wrap: wrap;
    min-height: 60vh;
  }
  @include media(">=phone") {
    height: fit-content;
    padding: 86px 0px;
  }
  @include media(">=tablet") {
    height: fit-content;
    padding: 131px 0px;
  }

  @include media(">=desktop") {
    min-height: 80vh;
  }

  &__left {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 100px;
    @include media("<=phone") {
      width: 100%;
      padding: 15px;
    }
    p {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 10px;
      font-family: var(--font-primary);
      color: #e5e5e5;
    }
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.00014em;
      font-family: var(--font-primary);
      @include media(">=tablet") {
        font-size: 38px;
        line-height: 51px;
      }
    }
    h1.mobileViewHeading {
      @include media("<=phone") {
        display: block;
      }
      @include media(">=phone") {
        display: none;
      }
    }
    h1.desktopViewHeading {
      @include media("<=phone") {
        display: none;
      }
      @include media(">=phone") {
        display: block;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      padding: 15px 32px;
      color: var(--primary-color);
      background: var(--primary-color-light);
      margin-top: 2rem;
    }
  }

  &__right {
    width: 50%;
    position: relative;
    .frame {
      position: absolute;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
      width: 600px;
      @include media("<=phone") {
        width: 100%;
        display: none;
      }
      @include media ("<=tablet"){
        display: none;
      }

      @include media(">=tablet") {
        right: 80px;
        width: 380px;
      }

      @include media(">=desktop") {
        top: 50%;
        width: 494px;
        right: 100px;
      }
    }
  }
}
