.feature {
  width: 100%;
  min-height: fit-content;
  position: relative;

  &__text {
    padding-top: 60px;
    width: 75%;
    margin: auto;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 36px;
      line-height: 42px;
      font-weight: 600px;
      letter-spacing: -0.34px;
    }

    p {
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      font-family: var(--font-secondary);
    }
  }

  &__blocks {
    width: 90%;
    // padding: 80px 100px;
    margin: auto;

    .block {
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .item {
        width: calc(33.33% - 24px);
        background: #fff;
        padding: 16px;
        background: linear-gradient(0deg, #ffffff, #ffffff), #0b2845;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
        border-radius: 6px;

        &:not(:last-child) {
          margin-right: 24px;
        }

        h4 {
          margin-bottom: 12px;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: -0.01em;
          color: rgba(0, 0, 0, 0.9);
          font-family: var(--font-secondary);
        }

        p {
          font-family: var(--font-secondary);
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.000793565em;
          color: #333333;
          padding-left: 12px;
          border-left: 1px solid rgba(0, 0, 0, 0.2);

        }
      }

      @media (min-width: 280px) and (max-width: 700px) {


        .item {

          width: calc(100%);
        }
      }
    }

  }

}

@media (min-width: 280px) and (max-width: 700px) {
  .block{
    display: block !important;
  }
}