@import "../../../styles/breakpoints.scss";

.contactform {
  padding: 54px 100px;
  position: relative;
  @include media("<=phone") {
    padding: 15px;
  }

  &__form {
    width: 60%;
    display: flex;
    flex-direction: column;
    @include media("<=phone") {
      width: 100%;
    }

    @include media("<=tablet") {
      width: 100%;
    }

    @include media(">=desktop") {
      width: 60%;
    }

    .inputGroup {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      @include media("<=phone") {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
      input {
        width: 49%;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: var(--font-secondary);
        padding: 10px 15px;
        background: #fafbfc;
        border: 1px solid #dfe1e6;
        outline: none;
        @include media("<=phone") {
          width: 100%;
          margin-bottom: 16px;
          font-size: 11px;
        }
        @include media("<=tablet") {
          font-size: 10px;
          padding: 8px 12px;
        }
        @include media(">=tablet") {
          font-size: 15px;
          padding: 12px 12px;
        }
        @include media(">=desktop") {
          background: #fafbfc;
          border: 1px solid #dfe1e6;
          font-family: var(--font-secondary);
          font-size: 14px;
          font-weight: 400;
          height: 40px;
          line-height: 20px;
          outline: none;
          padding: 10px 15px;
          width: 49%;
        }
        @include media(">=LGdesktop") {
          background: #fafbfc;
          border: 1px solid #dfe1e6;
          font-family: var(--font-secondary);
          font-size: 14px;
          font-weight: 400;
          height: 40px;
          line-height: 20px;
          outline: none;
          padding: 10px 15px;
          width: 49%;
        }
  
      }
    }
    textarea {
      width: 100%;
      height: 107px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      padding: 8px 10px;
      background: #fafbfc;
      border: 1px solid #dfe1e6;
      outline: none;
      font-family: var(--font-secondary);
      @include media("<=phone"){
        font-size: 11px;
      }

      @include media("<=tablet") {
        font-size: 10px;
        padding: 8px 12px;
      }
      @include media(">=tablet") {
        font-size: 15px;
        padding: 12px 12px;
      }
      @include media(">=desktop") {
        background: #fafbfc;
        border: 1px solid #dfe1e6;
        font-family: var(--font-secondary);
        font-size: 14px;
        font-weight: 400;
        height: 107px;
        line-height: 20px;
        outline: none;
        padding: 8px 10px;
        width: 100%;
      }
      @include media(">=LGdesktop") {
        background: #fafbfc;
        border: 1px solid #dfe1e6;
        font-family: var(--font-secondary);
        font-size: 14px;
        font-weight: 400;
        height: 107px;
        line-height: 20px;
        outline: none;
        padding: 8px 10px;
        width: 100%;
      }

    

    }
    button {
      align-items: center;
      background-color: #e7f1fe;
      border: 2px solid #175fff;
      border-radius: 4px;
      box-sizing: border-box;
      color: #175fff;
      cursor: pointer;
      display: flex;
      font-family: var(--font-secondary);
      font-size: 18px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -.01em;
      line-height: 21px;
      margin-top: 24px;
      padding: 16px;
      text-align: center;
      transition: .3s;
      width: 162px;
      &:hover {
        background-color: #e7f1fe;
        border: 2px solid #99b9ff;
        color: #153ab7;
      }
      @include media ("<=phone"){
        width: 154px;
      height: 42px;
      }
      @include media (">=tablet"){
        width: 154px;
        height: 44px;
      }
      @include media (">=desktop"){
        width: 174px;
        height: 54px;
      }
      @include media(">=LGdesktop") {
        font-size: 18px;
        width: 162px;
        height: 50px;
      }

    
 
    }
  }

  &__image {
    position: absolute;
    top: -6rem;
    right: 0;
    @include media("<=phone") {
      display: none;
    }
  
    @include media(">=tablet") {
      top: -9rem;
      right: -60px;
   
    
    }
    @include media(">=desktop"){
      top: -9rem;
      right: -90px;
     
    }
    @include media(">=LGdesktop") {

      top: -6rem;
      right: 0px;
    }



   

    img {
      width: 605px;
      height: 605px;
      @include media ("<=phone"){
        display: none;
      }
      @include media ("<=tablet"){
        display: none;
      }
      @include media(">=tablet") {
        width: 420px;
        height: 420px;
      }

      @include media(">=desktop") {
        width: 550px;
        height: 550px;
      }
      @include media(">=LGdesktop"){
        width: 605px;
      height: 605px;
      }
 
    }
  }
}
