@import "../../../styles/breakpoints.scss";

.achievements {
  width: 100%;
  min-height: fit-content;
  background: #0b2845;
  display: flex;
  @include media("<=phone") {
    flex-wrap: wrap;
  }

  &__head {
    width: 52%;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<=phone") {
      width: 100%;
      padding: 63px 15px 32px 15px;
      flex-wrap: wrap;
    }
    .logo {
      color: var(--primary-color);
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #fff;
      font-family: var(--font-secondary);
      &:last-child {
        color: #b2b2b2;
      }
    }
    h1 {
      font-size: 36px;
      line-height: 42px;
      font-weight: 600;
      color: var(--white-color);
      margin: 12px 0;
      @include media("<=phone") {
        margin-bottom: 12px;
      }
    }
    span{
      font-weight: 400;
      font-size: 15px;
      color: white;
    }
  }

  &__achieves {
    width: 50%;
    padding: 70px 30px;
    display: flex;
    justify-content: space-between;
    @include media("<=phone") {
      width: 100%;
      flex-wrap: wrap;
      padding: 15px;
    }
    .block1 {
      width: 48%;
      @include media("<=phone") {
        width: 100%;
        flex-wrap: wrap;
      }
    }
    .block2 {
      width:48%;
      margin-top: 0px;
      @include media("<=phone") {
        width: 100%;
        flex-wrap: wrap;
      }
    }
    .achive {
      width: 100%;
      // padding: 1.5rem 1.5rem 2.5rem 1.5rem;
      padding: 10px 10px;
      background: #243d57;
      border-radius: 6px;
      transition: 0.3s;
      
      &:not(:last-child){
        margin-bottom: 2rem;
        @include media("<=phone") {
          margin-bottom: 24px;
        }
      }

      &:hover{
        transform: scale(1.07);
      }

      @include media("<=phone") {
        padding: 15px;
        margin-bottom: 24px;
      }

      p {
        display: block;
        font-size: 15px;
        line-height: 21px;
        color: #ccc;
        font-weight: 400;
        margin-top: 0.8rem;
        font-family: var(--font-secondary);
      }
      svg {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}
