@import "../../../styles/breakpoints.scss";

.aboutBanner {
  width: 100%;
  min-height: 76vh;
  background: #06402B;
  display: flex;
  @include media("<=phone") {
    flex-wrap: wrap;
    // min-height: 100vh;
  }
  @include media(">=tablet") {
    min-height: 90vh;
  }
  @include media(">=desktop") {
    min-height: 90vh;
  }
  @include media(">=LGdesktop") {
    min-height: 80vh;
  }

  &__left {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 70%;
    @include media("<=phone") {
      width: 100%;
      padding: 15px;
      margin-top: 20px;
    }
    @include media(">=LGdesktop") {
      width: 50%;
    }
    p {
      color: #e5e5e5;
      font-family: var(--font-primary);
      font-size: 56px;
      display: inline;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 1rem;
      
    }
    h1 {
      font-weight: normal;
      color: #e5e5e5;
      display: inline;
      font-size: 28px;
      line-height: 30px;
      // letter-spacing: 0.00014em;
      font-family: var(--font-primary);
      @include media("<=phone") {
        font-size: 30px !important;
      }
      @include media(">=tablet") {
        font-size: 20px;
        font-weight: 90;
      }
    }
    a {
      text-decoration: none;
      margin-top: 2rem;
      width: 199px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-secondary);
      font-size: 18px;
      font-kerning: 21px;
      font-weight: 600;
      border-radius: 4px;
      // background-color: #e7f1fe;
      color: #e7f1fe;
      border: 2px solid #e7f1fe;
     
      transition: 0.3s;
      &:hover {
        background-color: #e7f1fe;
        border: 2px solid #99b9ff;
        color: #121313f4;
      }
    }
  }
  // &__right {
  //   padding-left: 20%;
  // }
  // &__right {
  //   width: 50%;
  //   display: flex;
  //   justify-content: flex-end;
  //   @include media("<=phone") {
  //     width: 100%;
  //     display: none;
  //   }
  //   @include media(">=LGdesktop") {
  //     width: 50%;
  //   }
  //   div {
  //     min-width: 40%;
  //     position: relative;
  //     @include media(">=LGdesktop") {
  //       min-width: 40%;
        
  //     }
  //     &:last-child {
  //       min-width: 20%;
  //       @include media(">=LGdesktop") {
  //         min-width: 20%;
  //       }
       
  //     }
  //     img {
  //       position: absolute;
  //       width: 90%;
  //     }
  //   }
  //   .frame1 img {
  //     top: 50%;
  //     transform: translateY(-50%);
  //     @include media(">=desktop") {
  //       top: 47%;
  //     }

  //     @include media(">=LGdesktop") {
  //       top: 50%;
  //     }
  //   }
  //   .frame2 img,
  //   .frame3 img {
  //     bottom: 0;
  //     @include media(">=LGdesktop") {
  //       bottom: 0;
  //     }
  //   }
  //   .frame3 img {
  //     width: 100%;
  //     @include media(">=LGdesktop") {
  //       width: 100%;
  //     }
  //   }
  // }
}
