@import "../../../styles/breakpoints.scss";

.clients {
  width: 100%;
  min-height: fit-content;
  position: relative;
  background: #f5f5f7;

  &__text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;

    // margin-top: 62px;
    @include media("<=phone") {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 60px;
    }

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.34px;

      @include media("<=phone") {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -1px;
      }
      @include media(">=LGdesktop") {
        font-weight: 700;
      }
    }

    p {
      font-family: var(--font-secondary);
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      margin: auto auto 1rem;
      text-align: center;
      width: 50%;

      @include media("<=phone") {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
      }
    }

    p {
      font-family: var(--font-secondary);
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      margin: auto auto 1rem;
      text-align: center;
      width: 50%;
      display: block;
      @include media("<=phone") {
        width: 100%;
      
      }
    }
    @include media(">=LGdesktop") {
    }
  }

  .padding {
    // font-size: 18px;
    // line-height: 21px;
    @include media(">=LGdesktop") {
      
    }
  }

  .options {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 4rem;

    @include media("<=phone") {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 0;
      padding-bottom: 10px;
      overflow-x: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      @include media("<=phone") {
        width: 350%;
      }
      @include media(">=LGdesktop") {
      }
    }

    .option {
      align-items: center;
      background: linear-gradient(0deg, #fff, #fff), #0b2845;
      border: 1px solid transparent;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: flex;
      font-family: var(--font-secondary);
      font-size: 18px;
      line-height: 21px;
      padding: 1rem 1rem;
      transition: 0.3s;
      width: 22%;
      margin: 0 auto;
      // height: 20%;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      @include media("<=phone") {
        width: 24%;
      }

      @include media(">=LGdesktop") {
      }

      div:first-child {
        align-items: center;
        display: flex;
        font-size: 18px;
        justify-content: center;
        margin-right: 24px;
        @include media(">=LGdesktop") {
        }
      }
    }

    .option.active {
      color: var(--primary-color);
    }
  }

  .enterprize {
    display: flex;
    margin-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    @include media("<=phone") {
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 10px;
      padding-bottom: 15px;
    }

    .image {
      width: 25%;

      @include media("<=phone") {
        width: 100%;
        margin-bottom: 40px;
      }

      .slider {
        height: 35vh;
    width: 80%;

        // height: 25vh;
        @include media("<=phone") {
          width: 100%;
        }

        &__container {
          height: 35vh;
          img {
            height: 35vh;
            @include media("<=phone") {
              height: 35vh;
              width: 100%;
              object-fit: cover;
              border-radius: 6px;
            }
          }
        }
      }

      img {
        // height: 35vh;
      }
    }

    .content {
      width: 75%;
      

      @include media("<=phone") {
        width: 100%;
      }

      h3 {
        color: #175fff;
        font-size: 21px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 24px;

        @include media("<=phone") {
          margin-bottom: 0;
        }
      }

      .contentWrapper {
        width: 100%;
        display: flex;
        margin-top: 2rem;

        @include media("<=phone") {
          flex-wrap: wrap;
        }

        .contentLeft,
        .contentRight {
          width: 50%;
          min-height: 35vh;

          @include media("<=phone") {
            width: 100%;
          }

          h4 {
            color: rgba(0, 0, 0, .7) !important;
            font-size: 18px;
            font-size: var(--font-secondary);
            font-weight: 500;
            line-height: 21px;
            font-family: var(--fonr-secondary);
            font-style: normal;
            letter-spacing: -.01em;

            @include media("<=phone") {
              margin: -10px 0 10px 0;
            }
          }

          ul {
            margin-top: 21px;
            list-style: none;

            @include media("<=phone") {
              margin-top: 0;
            }

            li {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 1.2rem;
              display: flex;
              color: rgba(0, 0, 0, 0.6) !important;

              div:nth-child(1) {
                margin-right: 1rem;
                color: var(--primary-color);
              }
            }
          }
        }

        .contentRight {
          @include media("<=phone") {
            margin-top: 55px;
          }
        }
      }
    }
  }

  .enterprize.activeAnim {
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.logos {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10rem;
  padding-right: 10rem;

  @include media("<=phone") {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
}

.logos div {
  width: 14%;
  height: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  @include media("<=phone") {
    width: 26%;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
  }
  @include media(">=LGdesktop") {
    height: 4rem;
  }
}

.logos div img {
  height: 100%;

  @include media("<=phone") {
    height: 90%;
  }
}
