.hiringIncludeSec {
   
  }
  
  .container {
  
  }
  
  .fl {
    float: left;
  }
  
  .cmnWidth {
    width: 45%;
    margin: 2.5%;
  }
  
  .cb {
    clear: both;
  }
  
  .width100 {
    width: 100%;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .btnCmnEffect {
    
  }
  
  .cmnBlueBtnBg {
    background-color: blue;
    color: white;
  }
  

  