@import "../../../styles/breakpoints.scss";

.enterprize {
  width: 100%;
  padding: 6rem 10rem;
  background: var(--secondary-color);
  @include media("<=phone") {
    padding: 63px 15px 32px 15px;
    overflow: hidden;
  }
  @include media(">=tablet") {
    padding: 6rem 2rem;
   
  }
  &__text {
    h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      @include media("<=phone") {
        margin-bottom: 24px;
        font-size: 32px;
      }
    }
    p:nth-child(1) {
      color: #fff;
      font-size: 15px;
      line-height: 21px;
      font-weight: 500;
    }
    p {
      width:55% !important;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      color: #b2b2b2;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      font-family: var(--font-secondary);
      @include media("<=phone") {
        width: 100%;
      }
      @include media(">=tablet") {
        width: 100%;
      }

    }
  }
  @media (min-width: 280px) and (max-width: 700px) {
    h1{
      font-weight: 400;
      font-size: 30px;
    }
    p {
     width: 80% !important;
    }
  }
  .enterprizeContentWrappr {
    width: 100%;
    height: fit-content;
    @include media("<=phone") {
      overflow-x: scroll;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    @include media("<=phone") {
      width: 263%;
      margin-top: 24px;
    }

    .element {
      width: 18%;
      display: flex;
      border: 2px solid #1c3752;
      padding: 1rem;
      border-radius: 6px;
      @include media("<=tablet") {
        width: 17%;
        padding: 5px;
      }

      div {
        color: var(--white-color);
      }
      .logo {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin-right: 19px;
        svg {
          margin-top: 5px;
        }
        @include media("<=tablet") {
          font-size: 16px;
          margin-right: 6px;
        }
        @include media("<=phone") {
          font-size: 20px;
          
        }
      }
      .text {
        width: calc(100% - 49px);
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        font-family: var(--font-secondary);
        @include media("<=tablet") {
          font-size: 9px;
        }
        @include media("<=phone") {
          font-size: 13px;
          
        }
        
      }
    }
  }

  .globalLink {
    margin-top: 4rem;
    text-align: center;
    a {
      width: 202px;
      height: 56px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      font-family: var(--font-secondary);
      line-height: 21px;
      margin: auto;
      background-color: #175fff;
      color: #fff;
      transition: 0.3s;
      &:hover {
        background-color: #99b9ff;
      }
    }
  }
}
