@import "../../../styles/breakpoints.scss";

.benefitsSec {
  .container {
    background: url(https://www.andolasoft.com/images/approach/benfit-sec.png)
      no-repeat 0px 0px;
    width: 100%;
    padding: 100px 0px 70px;
    background-size: 100% auto;
    color: #fff;
  }
  .benefitsSec h2 {
    color: #fff;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 15px;
  }
  .benefitsSec h2 {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    height: 2px;
    background: #fff;
  }
  .fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .width50 {
    width: 50%;
  }
  .rtCnt p {
    font-size: 13px;
    display: block;
    padding-left: 50px;
    position: relative;
    line-height: 20px;
    margin: 15px 0px 60px 65px;
  }

  .rtCnt p::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -7px;
    background: url(https://www.andolasoft.com/images/approach/individual-small.png)
      no-repeat 0px 0px;
    background-size: 100% auto;
    width: 33px;
    height: 46px;
  }
  .rtCnt p a {
    color: #27afed;
  }
  .lftCnt ul {
    list-style: none;
    width: 100%;
    padding-right: 30px;
  }
  .lftCnt li {
    min-height: 75px;
  }
  .lftCnt ul li:first-child::before {
    background-position: 0px 0px;
  
  }
  .lftCnt ul li::before {
    content: "";
    left: 0px;
    top: 0px;
    background: url(https://www.andolasoft.com/images/approach/sprite-benfit.png) no-repeat;
    width: 53px;
    height: 55px;
}
  .cb {
    clear: both;
  }
  .width100 {
    width: 100%;
  }
  .textCenter {
    text-align: center;
  }
  .btnCmnEffect {
    background: transparent;
    border: 2px solid white;
    font-size: 22px;
    padding: 22px 50px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
  }
  .cmnBlueBtnBg:hover {
    border: 2px solid #f0f4f5;
    background: #f0f4f5;
    color: #333;
    font-size: 22px;
    padding: 22px 50px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
  margin-top: 20px;
  
  transition: all 0.5s ease-in-out;
  }
  .talk {
    display: block;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 600;
  }

  }
 
