@import "../../../styles/breakpoints.scss";

.hireExpWrapper {
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  @include media(">=LGdesktop") {
    background-color: #ffffff;
  }
}
.hireexperience {
  width: 100%;
  padding: 60px 84px;
  background: #e7f1fe;
  @include media("<=phone") {
    padding: 32px 15px;
  }

  &__image {
    width: 100%;
    margin-bottom: 62px;
    @include media("<=phone") {
      margin-bottom: 32px;
    }
    img {
      width: 100%;
    }
  }

  p {
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-secondary);
    line-height: 21px;
    color: #808080;
    text-align: center;
  }

  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.34px;
    color: rgba(0, 0, 0, 0.8);
    margin: 12px 0 24px 0;
    @include media("<=phone") {
      font-size: 26px;
      line-height: 36px;
      letter-spacing: -1px;
    }
  }
  .secondText {
    color: rgba(0, 0, 0, 0.7);
    width: 45%;
    margin: auto;
    font-weight: 400;
    @include media("<=phone") {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 24px;
    }
  }

  .infos {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 80px;
    @include media("<=phone") {
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    .info {
      margin: 0 35px;
      @include media("<=phone") {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
      }
      h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 48px;
        letter-spacing: -0.00352em;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 32px;
        text-align: center;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: -0.0419664px;
        color: rgba(0, 0, 0, 0.5);
        font-family: var(--font-secondary);
        text-align: center;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #325ce8;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 10px;
      margin-top: 5px;
      transition: 0.3s;
    }
    &:hover span {
      transform: translateX(7px);
    }
  }
}

.options {
  width: 110%;
  padding-top: 0;
  margin-top: 123px;
  margin-bottom: 123px;
  margin-left: -4%;
  overflow: hidden;
  @include media("<=phone") {
    width: 300%;
    height: fit-content;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    margin-left: -8%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .option {
    width: 100%;
    height: 10vh;
    padding: 0 2rem 8rem 0rem;
    display: flex;

    justify-content: space-between;
    @include media("<=phone") {
      height: 12vh;
      padding: 0 1rem;
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      padding: 10px 1.3rem 1rem 1.3rem;
      // padding-right: 1.3rem;
      // padding-left: 1.3rem;
      // padding-bottom: 1rem;
      // padding-top: 10px;
      background: var(--white-color);
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
      @include media("<=phone") {
        height: 10vh;
      }
      .left {
        width: 80%;
        display: flex;
        align-items: center;
        @include media("<=phone") {
          font-size: 20px;
          line-height: 25px;
        }
        div {
          font-weight: 500;
          font-size: 30px;
          line-height: 42px;
        }
        div {
          &:nth-child(1) {
            margin-top: 20px;
            margin-right: 10px;
          }
          &:nth-child(2) {
            color: var(--primary-color);
            font-size: 30px;
            font-weight: 600;
            line-height: 42px;
            margin-right: 1rem;
            margin-top: 8px;
            @include media("<=phone") {
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
      }
      .right {
        width: 20%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        @include media("<=phone") {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}
