@import "../../../styles/breakpoints.scss";

.what {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__identity {
    width: 100%;
    display: flex;
    padding: 100px;

    @include media("<=phone") {
      padding: 30px 20px;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include media(">=tablet") {
      gap: 60px;
    }

    @include media(">=tablet") {
      padding: 80px 100px;
    }

    .head {
      width: 50%;

      @include media("<=phone") {
        width: 100%;
      }
      @include media(">=LGdesktop") {
        width: 30%;
      }

      p {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
      }

      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
        margin-right: 160px;
        color: #0b2845;

        @include media("<=phone") {
          margin-bottom: 0rem;
          font-size: 27px;
          letter-spacing: -0.54px;
        }

        @include media(">=tablet") {
          font-size: 30px;
        }

        div:not(:last-child) {
          @include media("<=phone") {
            display: none;
          }
        }

        .mobileV {
          @include media("<=phone") {
            display: block;
            font-size: 28px;
          }

          @include media(">=phone") {
            display: none;
          }
        }
      }
    }

    @media (min-width: 280px) and (max-width: 900px) {
      .head {
        width: 100%;
      }

      h2 {
        margin-right: 0px !important;
      }

      .text {
        width: 100% !important;
      }
    }

    .text {
      width: 50%;

      @include media("<=phone") {
        width: 10%;
      }
      @include media(">=LGdesktop") {
        width: 40%;
      }

      p {
        margin-bottom: 2rem;
        line-height: 2rem;
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        letter-spacing: -0.041966px;
        font-family: var(--font-secondary);
        @include media(">=LGdesktop") {
          font-size: 18px;
        }

        &:last-child {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 10rem;
            height: 1px;
            background: gray;
          }
        }
      }
    }
  }

  &__enterprize {
    margin-top: 60px;
    padding: 0 100px;

    @include media("<=phone") {
      padding: 0 0 !important;
      margin-top: 30px;
    }

    @include media("<=tablet") {
      padding: 0 60px;
    }

    .wrapper {
      display: flex;
      min-height: 50vh;
      border-radius: 6px;
      background: #f7f8fa;
      padding: 40px;

      @include media("<=phone") {
        flex-wrap: wrap;
        padding: 0;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      @include media("<=tablet") {
        display: block;
      }
      @include media(">=LGdesktop") {
        width: 77%;
      }
    }

    .image {
      width: 35%;

      @include media("<=phone") {
        width: 100%;
      }

      @include media("<=tablet") {
        width: 100%;
      }
      @include media(">=LGdesktop") {
        width: 45%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      width: 65%;
      padding-left: 2rem;

      @include media("<=phone") {
        margin-top: 56px;
        width: 100%;
        padding-left: 15px;
      }

      @include media("<=tablet") {
        width: 100%;
        margin-top: 40px;
      }
      @include media(">=LGdesktop") {
        width: 85%;
      }

      .max_size {
        width: 65% !important;
      }

      @media (min-width: 280px) and (max-width: 900px) {
        .max_size {
          width: 100% !important;
        }
      }

      p.secondaryHead {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
      }

      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
        margin-right: 180px;
        width: 55%;

        @include media("<=tablet") {
          font-size: 16px;
          line-height: 36px;
        }

        @include media("<=phone") {
          font-size: 24px;
          line-height: 35px;
        }
      }

      .missionVission {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;

        @include media("<=phone") {
          flex-wrap: wrap;
          margin-bottom: 16px;
          margin-top: 10px;
        }

        .mission,
        .vission {
          width: 46%;
          margin-top: 1.5rem;

          @include media("<=phone") {
            width: 100%;
            margin-top: 18px;
          }

          h4 {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            font-family: var(--font-secondary);
            color: rgba(0, 0, 0, 0.7) !important;

            @include media("<=phone") {
              margin: 0;
              margin-bottom: 10px;
            }
          }

          .textt {
            display: flex;
            margin-top: 0.8rem;

            @include media("<=phone") {
              margin-top: 0;
            }

            div {
              &:first-child {
                width: 40px;
                color: var(--primary-color);

                @include media("<=phone") {
                  font-size: 1.5rem;
                }
              }

              &:last-child {
                width: calc(100% - 40px);
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.6);
                @include media(">=LGdesktop") {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .finalTxt {
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 21px;
          font-family: var(--font-secondary);
          color: rgba(0, 0, 0, 0.7);
          @include media(">=LGdesktop") {
            font-size: 16px;
            line-height: 24px;
          }

          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  .options {
    width: 110%;
    padding-top: 5rem;
    margin: auto;
    // margin-left: -4%;

    @include media("<=phone") {
      width: 1100px;
      height: fit-content;
      padding-top: 2.5rem;
      padding-bottom: 3rem;
      display: none;
    }

    @include media("<=tablet") {
      padding-bottom: 1rem;
    }

    .option {
      width: 100%;
      height: 25vh;
      padding: 0 2rem;

      @include media("<=phone") {
        display: none;
        height: 12vh;
        padding: 0 1rem;
      }
      
      @include media(">=tablet") {
        // height: 55vh;
      }

      @include media(">=desktop") {
        // height: 38vh;
      }
      @include media(">=LGdesktop") {
    
      height: 12vh;
      }

    }

    .wrap {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      border-radius: 6px;
      // padding: .3rem;
      width: 490px;
      padding: 10px 0px;
      background: var(--white-color);
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);

      @include media("<=phone") {
        height: 10vh;
        width: 354px;
      }

      @include media("<=tablet") {
        padding: 0.8rem;
      }

      .left {
        width: 80%;
        display: flex;
        align-items: center;

        div {
          font-weight: 500;
          font-size: 30px !important;
          line-height: 42px;
          padding-left: 12px;
          font-family: manrope;
          font-weight: 500;

          @include media("<=phone") {
            font-size: 20px;
            line-height: 25px;
          }

          @include media(">=tablet") {
            font-size: 14px;
          }

          @include media("<=tablet") {
            font-size: 20px;
          }
        }

        div {
          &:first-child {
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;
            color: var(--primary-color);
            margin-right: 1rem;
            margin-top: 8px;

            @include media("<=phone") {
              font-size: 20px;
              line-height: 25px;
            }

            @include media(">=tablet") {
              font-size: 24px;
            }

            @include media("<=tablet") {
              font-size: 20px;
            }
          }
        }
      }

      .right {
        width: 20%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;

        @include media("<=phone") {
          font-size: 1.3rem;
          line-height: 1.5rem;
        }

        @include media(">=desktop") {
          width: 11%;
        }

        @include media(">=tablet") {
          font-size: 21px;
          width: 11%;
        }

        @include media(">=tablet") {
          font-size: 32px;
          width: 10%;
        }
      }
    }
  }
}
