@import "../../../styles/breakpoints.scss";

.what {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__identity {
    width: 100%;
    display: flex;
    padding: 100px;
    @include media("<=phone") {
      padding: 15px;
      flex-wrap: wrap;
    }

    .head {
      width: 50%;
      @include media("<=phone") {
        width: 100%;
      }
      p {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
      }
      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
        color: #0b2845;
        @include media("<=phone") {
          margin-bottom: 2rem;
        }
        div:not(:last-child) {
          @include media("<=phone") {
            display: none;
          }
        }
        .mobileV {
          @include media("<=phone") {
            display: block;
            font-size: 28px;
          }
          @include media(">=phone") {
            display: none;
          }
        }
      }
    }
    .text {
      width: 50%;
      @include media("<=phone") {
        width: 100%;
      }
      p {
        margin-bottom: 2rem;
        line-height: 2rem;
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        letter-spacing: -0.041966px;
        font-family: var(--font-secondary);

        &:last-child {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 10rem;
            height: 1px;
            background: gray;
          }
        }
      }
    }
  }

  &__enterprize {
    margin-top: 60px;
    padding: 0 100px;
    @include media("<=phone") {
      padding: 15px 0;
      margin-top: 30px;
    }

    .wrapper {
      display: flex;
      min-height: 50vh;
      border-radius: 6px;
      background: #f7f8fa;
      padding: 40px;
      @include media("<=phone") {
        flex-wrap: wrap;
        padding: 0;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    .image {
      width: 35%;
      @include media("<=phone") {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      width: 65%;
      padding-left: 2rem;
      @include media("<=phone") {
        margin-top: 56px;
        width: 100%;
        padding-left: 15px;
      }
      p.secondaryHead {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
      }
      h2 {
        font-weight: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.34px;
        margin-top: 1rem;
      }
      .missionVission {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        @include media("<=phone") {
          flex-wrap: wrap;
          margin-bottom: 16px;
          margin-top: 10px;
        }
        .mission,
        .vission {
          width: 46%;
          margin-top: 1.5rem;
          @include media("<=phone") {
            width: 100%;
            margin-top: 18px;
          }
          h4 {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            font-family: var(--font-secondary);
            color: rgba(0, 0, 0, 0.7) !important;
            @include media("<=phone") {
              margin: 0;
              margin-bottom: 10px;
            }
          }
          .textt {
            display: flex;
            margin-top: 0.8rem;
            @include media("<=phone") {
              margin-top: 0;
            }
            div {
              &:first-child {
                width: 40px;
                color: var(--primary-color);
                @include media("<=phone") {
                  font-size: 1.5rem;
                }
              }
              &:last-child {
                width: calc(100% - 40px);
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
      }

      .finalTxt {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          font-family: var(--font-secondary);
          color: rgba(0, 0, 0, 0.7);
          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  .options {
    width: 110%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    margin-left: -4%;
    @include media("<=phone") {
      width: 300%;
      height: fit-content;
      padding-top: 2.5rem;
      padding-bottom: 3rem;
      margin-left: -8%;
    }

    .option {
      width: 100%;
      height: 30vh;
      padding: 0 2rem;
      @include media("<=phone") {
        height: 12vh;
        padding: 0 1rem;
      }
      .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 1.3rem;
        background: var(--white-color);
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
        @include media("<=phone") {
          height: 10vh;
        }
        .left {
          width: 80%;
          display: flex;
          align-items: center;
          div {
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
            @include media("<=phone") {
              font-size: 20px;
              line-height: 25px;
            }
          }
          div {
            &:first-child {
              font-weight: 600;
              font-size: 30px;
              line-height: 42px;
              color: var(--primary-color);
              margin-right: 1rem;
              margin-top: 8px;
              @include media("<=phone") {
                font-size: 20px;
                line-height: 25px;
              }
            }
          }
        }
        .right {
          width: 20%;
          color: var(--primary-color);
          font-weight: 500;
          font-size: 36px;
          line-height: 42px;
          @include media("<=phone") {
            font-size: 1.5rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
