@import "../../../styles/breakpoints.scss";

.title {
  text-align: center;
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.3400000035762787px;
    text-align: center;
  }
}

.mail {
  color: #165fff;
}

.card {
  padding: 20px 20px;
  width: 390px;
  height: 144px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 2px 4px 12px 0px #00000014 !important;

  @include media("<=phone") {
    background-color: red;
  }
}

.phone {
  padding: 3px 0px;
  font-size: 25px;
  background-color: #61c4e1;
  color: white;
}

.insta {
  color: #fcaf45;
}

.wrapper {
  background-color: #eee;
  padding: 50px 0px;

  @include media("<=LGdesktop") {
    margin: 6rem 0rem;
  }
}

.span {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.0027em;
  text-align: left;
}

.span_info {
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.0027em;
  text-align: left;
}

.gridmain {
  margin-top: 40px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  margin: auto;

  

  @include media("<=phone") {
    padding: 0px 30px;
    margin-top: 0;
  }
}

.grid_card {
  flex-basis: 25%;
  flex-grow: 0;
  max-width: 30%;
  @include media("<=phone") {
    max-width: 100%;
  }
  @include media(">=tablet") {
    max-width: 50%;
  }
  @include media(">=LGdesktop") {
    max-width: 30%;
  }
}

// box-sizing: border-box;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-flex-wrap: wrap;
//     -webkit-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     width: 100%;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     margin-top: -16px;
//     /* width: calc(100% + 16px); */
//     /* margin-left: -16px; */
//     /* gap: 72px; */
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     /* justify-content: center; */
//     justify-content: space-between;
//     /* margin: 0 14px;
