@import "../../../styles/breakpoints.scss";

.banner {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 207px 100px 120px 100px;
  @include media("<=phone") {
    flex-wrap: wrap;
    padding: 100px 15px 60px 15px;
    min-height: 0vh;
  }
  @include media(">=desktop") {
  
    padding: 170px 100px 120px 100px;
  }
  @include media(">=tablet") {
  
    padding: 130px 100px 100px 100px;
  }


  &__left {
    width: 35%;
    @include media("<=phone") {
      width: 100%;
    }
    h3 {
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      color: var(--white-color);
      color: #e5e5e5;
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      font-weight: bold;
      color: var(--white-color);
      margin: 21px 0;
      @include media(">=tablet") {
  
        font-size: 45px;
      }
      @include media("<=phone") {
        font-size: 28px;
        margin: 5px 0;
        line-height: 44px;
      }
     

      
    

 

    }
    p {
      font-size: 15px;
      line-height: 21px;
      font-family: var(--font-secondary);
      font-weight: 400;
      color: var(--white-color);
      @include media(">=phone") {
        line-height: 20px;
        font-size: 12px;
      }
      @include media(">=tablet") {
  
        font-size: 15px;
      }


      
    }
  }

  &__right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    @include media("<=phone") {
      width: 100%;
      display: none;
    }
    a {
      text-decoration: none;
      width: 199px;
      height: 66px;
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 21px;
      font-family: var(--font-secondary);
      font-weight: 600;
      border-radius: 4px;
      background-color: #e7f1fe;
      color: #175fff;
      border: 2px solid #175fff;
      transition: 0.3s;
      @include media (">=LGdesktop"){
        display: none;
      }
      &:hover {
        background-color: #e7f1fe;
        border: 2px solid #99b9ff;
        color: #153ab7;
      }
    }
  }
}
