@import "../../../styles/breakpoints.scss";

.banner {
  background: var(--primary-color);
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  padding: 100px 100px 120px;
  width: 100%;
  @include media("<=phone") {
    flex-wrap: wrap;
    padding: 100px 15px 60px 15px;
    min-height: 0vh;
  }
  @include media(">=desktop") {
  
    background: var(--primary-color);
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    padding: 100px 100px 120px;
    width: 100%;
  }
  
  @include media(">=tablet") {
  
  }
  @include media(">=LGdesktop") {
    background: var(--primary-color);
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    padding: 100px 100px 120px;
    width: 100%;
  }


  &__left {
    width: 35%;
    @include media("<=phone") {
      width: 100%;
    }
    h3 {
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      color: var(--white-color);
      color: #e5e5e5;
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      font-weight: bold;
      color: var(--white-color);
      margin: 21px 0;
    
      @include media("<=phone") {
        font-size: 28px;
        margin: 5px 0;
        line-height: 44px;
      }
      @include media(">=tablet") {
  
        font-size: 48px;
      }
      @include media(">=LGdesktop") {
        font-size: 48px;
      }

    }
    p {
      font-size: 15px;
      line-height: 21px;
      font-family: var(--font-secondary);
      font-weight: 400;
      color: var(--white-color);
      @include media(">=phone") {
        line-height: 20px;
        font-size: 12px;
      }
      @include media(">=tablet") {
        line-height: 21px;
        font-size: 15px;
      }


      
    }
  }

  &__right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    @include media("<=phone") {
      width: 100%;
      display: none;
    }
    a {
      align-items: center;
      background-color: #e7f1fe;
      border: 2px solid #175fff;
      border-radius: 4px;
      color: #175fff;
      display: flex;
      font-family: var(--font-secondary);
      font-size: 18px;
      font-weight: 600;
      height: 66px;
      justify-content: center;
      line-height: 21px;
      text-decoration: none;
      transition: .3s;
      width: 199px;
      @include media (">=LGdesktop"){
      
      }
      &:hover {
        background-color: #e7f1fe;
        border: 2px solid #99b9ff;
        color: #153ab7;
      }
    }
  }
}
