// @import "../../../styles/breakpoints.scss";

// .serviceSolution {
//   width: 100%;
//   position: relative;
//   overflow: hidden;

//   @include media("<=phone") {
//     display: none;
//   }

//   .wrapper {
//     width: 100%;
//     display: flex;
//     background: #f7f8fa;
//     margin: auto;

//     &__new {
//       width: 80%;
//       display: flex;
//       margin: auto;
//       padding: 50px 0px;

//     }

//     &__left {
//       width: 40%;

//       img {
//         width: 90%;
//       }
//     }

//     &__right {
//       width: 60%;
//       @include media(">=LGdesktop") {
//         padding-left: 2rem;
//       }

//       p {
//         font-size: 21px;
//         line-height: 26px;
//         color: #175fff;
//         font-weight: 500;
//       }

//       h3 {
//         font-weight: 500;
//         font-size: 36px;
//         line-height: 42px;
//         margin-top: 8px;
//         margin-bottom: 24px;
//         color: #0b2845;
//       }

//       ul {
//         margin-top: 1.2rem;
//         list-style: none;

//         li {
//           display: flex;
//           margin-bottom: 10px;

//           @include media(">=LGdesktop") {
//             margin-bottom: 1.2rem;
//           }

//           div {
//             &:first-child {
//               width: 40px;
//               color: var(--primary-color);
//             }

//             &:last-child {
//               width: calc(100% - 40px);
//               font-size: 15px;
//               line-height: 22px;
//               color: rgba(0, 0, 0, 0.6);

//               @include media(">=LGdesktop") {}
//             }
//           }
//         }
//       }
//     }
//   }

//   h4.sliderHeading {
//     text-align: center;
//     font-weight: 600;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: -0.34px;
//     color: rgba(0, 0, 0, 0.8);
//     margin-top: 100px;
//     margin-bottom: 50px;
//   }

//   .options {
//     width: 110%;
//     padding-top: 0;
//     padding-bottom: 180px;
//     margin-left: -4%;

//     .option {
//       width: 100%;
//       height: 19vh;
//       padding: 0 2rem;

//       .wrap {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         border-radius: 6px;
//         padding: 1.3rem;
//         background: var(--white-color);
//         box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);

//         .left {
//           width: 80%;
//           display: flex;
//           align-items: center;

//           div {
//             font-weight: 500;
//             font-size: 30px;
//             line-height: 42px;
//           }

//           div {
//             &:first-child {
//               font-weight: 600;
//               font-size: 30px;
//               line-height: 42px;
//               color: var(--primary-color);
//               margin-right: 1rem;
//               margin-top: 8px;
//             }
//           }
//         }

//         .right {
//           width: 20%;
//           color: var(--primary-color);
//           font-weight: 500;
//           font-size: 36px;
//           line-height: 42px;
//         }
//       }
//     }
//   }

//   .absImg {
//     position: absolute;
//     left: 0;
//     bottom: 8rem;
//   }
// }

.whyawwaltech {
    text-align: center;
    padding: 5rem;
    background-color: #f5f5f5;
  }
  
  .whyawwaltech h1 {
    margin-bottom: 40px;
    color: #333;
  }
  
  .cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }
  







