.bg-img{
    height: 610px;
}

.bg-content{
    /* position: relative;
    top: 25rem;
    left: 5rem; */
    padding-top: 20rem;
    padding-left: 40px;
}

.bg-content span{
    font-size: 15px;
}

.bg-content p{
    font-size: 26px;
}

.bg-content h2{
    font-size: 48px;

}