@import "../../styles/breakpoints.scss";

h4 {
  font-family: var(--fonr-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.8);
  // margin-bottom: 24px;
  @include media(">=LGdesktop") {
    margin-top: 35px;
    margin-bottom: 24px;
  }
}
p {
  font-family: var(--fonr-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.9);
}
ul {
  margin-top: 10px;
  list-style: none;
  li {
    font-family: var(--fonr-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // line-height: 44px;
    letter-spacing: -3.12962e-5em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1px;

    @include media(">=LGdesktop") {
      margin-bottom: 11px;
    }
  }


}
.desc {
  margin-bottom: 36px;
}
.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.experience {
  margin-bottom: 36px;
  margin-top: 36px;
}
.candidate {
  margin-top: 36px;
}

.dform {
  width: 100%;
  background: #e7f1fe;
  padding: 24px;
  border-radius: 12px;
  h2 {
    font-family: var(--fonr-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.34px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 24px;
  }
  p {
    font-family: var(--fonr-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.0419664px;
    color: rgba(0, 0, 0, 0.8);
  }
  form {
    margin-top: 24px;
    input,
    textarea {
      outline: none;
      padding: 10px;
      background: #fafbfc;
      border: 1px solid #dfe1e6;
      border-radius: 3px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      font-family: var(--fonr-secondary);
    }
    .inputGroup {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      @include media("<=phone") {
        margin-bottom: 0;
        flex-wrap: wrap;
      }
      input {
        width: calc(50% - 8px);
        @include media("<=phone") {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
    .fullLength {
      width: 100%;
      margin-bottom: 16px;
      input,
      textarea {
        width: 100%;
      }
    }
    .btnGroup {
      display: flex;
      align-items: center;
      border: 2px solid #325ce8;
      border-radius: 4px;
      padding: 16px;
      @include media("<=phone") {
        flex-wrap: wrap;
      }
      .applyBtn {
        width: 194px;
        height: 53px;
        @include media("<=phone") {
          margin-bottom: 1rem;
        }
        button {
          outline: none;
          border: none;
          cursor: pointer;
          width: 194px;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #175fff;
          color: #fff;
          border-radius: 4px;
          font-family: var(--fonr-secondary);
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.01em;
        }
      }
      .uploadBtn {
        width: 290px;
        height: 21px;
        font-family: var(--fonr-secondary);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.01em;
        input {
          display: none;
        }
        label {
          color: #325ce8;
          padding: 0.5rem;
          font-family: sans-serif;
          border-radius: 0.3rem;
          cursor: pointer;
          margin-top: 1rem;
        }
      }
    }
  }
}
