@import "../../../styles/breakpoints.scss";

.achievements {
  width: 100%;
  height: fit-content;
  background: linear-gradient(
      86.21deg,
      rgba(11, 40, 69, 0.78) 49.81%,
      rgba(11, 40, 69, 0) 114.07%
    ),
    url("../../../assets/Services/back.jpg") no-repeat center center / cover;
  // background: url("") no-repeat left top,
  //   linear-gradient(#eb01a5, #d13531);
  display: flex;
  @include media("<=phone") {
    flex-wrap: wrap;
  }

  &__head {
    width: 55%;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<=phone") {
      width: 100%;
      padding: 63px 15px 32px 15px;
    }
    .logo {
      color: var(--primary-color);
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #fff;
      font-family: var(--font-secondary);
      &:first-child {
        color: #e5e5e5;
      }
      &:last-child {
        color: #b2b2b2;
      }
    }
    h1 {
      font-size: 36px;
      line-height: 42px;
      font-weight: 600;
      color: var(--white-color);
      margin: 12px 0;
    }
  }

  &__achieves {
    width: 56%;
    height: fit-content;
    padding: 60px 29px;
    display: flex;
    justify-content: space-between;
    @include media("<=phone") {
      width: 100%;
      padding: 15px;
      flex-wrap: wrap;
    }
    @include media(">=LGdesktop") {
      width: 44%;
      padding: 60px 60px;
      display: flex;
      justify-content: space-around;
    }
    .block1 {
      width: 49%;
      @include media("<=phone") {
        width: 100%;
      }
      @include media(">=LGdesktop") {
       width: 45%;
      }
    }
    .block2 {
      width:49%;
      @include media("<=phone") {
        width: 100%;
      }

      @include media(">=LGdesktop") {
        width: 45%;
       }
    }
    .achive {
      width: 100%;
      padding: 1.5rem 1.5rem 2.5rem 1.5rem;
      background: #243d57;
      border-radius: 6px;
      transition: 0.3s;

      &:not(:last-child) {
        margin-bottom: 2rem;
        @include media("<=phone") {
          margin-bottom: 24px;
        }
        @include media(">=LGdesktop") {
          margin-bottom: 4rem;
         }
        
      }

      &:hover {
        transform: scale(1.07);
      }

      @include media("<=phone") {
        padding: 15px;
        margin-bottom: 24px;
      }

      p {
        display: block;
        font-size: 15px;
        line-height: 21px;
        color: #ccc;
        font-weight: 400;
        margin-top: 0.8rem;
        font-family: var(--font-secondary);
      }
      svg {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}
