/* ============== BREAKPOINTS ============= */
@import "../../styles/breakpoints.scss";

/* ============== NAV ============= */
.nav {
  width: 100vw;
  height: 6rem;
  padding: 0 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 10px 0;
  @include media("<=desktop") {
    height: 4rem;
    padding: 0 100px;
  }
  @include media("<=1100px") {
    padding: 0 120px;
  }
  @include media("<=phone") {
    height: 3.5rem;
    padding: 0 20px;
    min-height: 3rem;
  }

  &__brand {
    display: flex;
    align-items: center;
    @include media("<=phone") {
      width: fit-content;
    }
    a {
      text-decoration: none;
      color: var(--black-color);
      img {
        @include media("<=phone") {
          width: 60%;
        }
      }
    }
  }

  // Links type 1
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media("<=phone") {
      width: fit-content;
    }
    a,
    div {
      display: flex;
      align-items: center;
      text-decoration: none;
      // margin-left: 0.8rem;
      color: var(--white-color);
      font-family: var(--font-secondary);
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      padding: 0.5rem 1rem;
      cursor: pointer;
      span {
        margin-left: 1rem;
        margin-top: 3px;
      }
      @include media(">=LGdesktop"){
        margin-left: 0.8rem;
      }
      @include media("<=desktop") {
        margin-left: 0.5rem;
        font-size: 14px;
      }
      @include media("<=1100px") {
        margin-left: 0.8rem;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
      @include media("<=phone") {
        display: none;
      }
    }

    a {
      height: 6rem;
      .barier {
        margin-left: 0;
        padding: 0;
      }
      &:nth-child(7) {
        height: 53px;
        width: 135px;
        padding: 16px;
        border-radius: 3px;
        color: var(--white-color);
        display: flex;
        align-items: center;
        
        @include media("<=phone") {
          display: none;
        }
      }
    }

    a {
      position: relative;

      .menus {
        width: 35rem;
        position: absolute;
        top: 3.9rem;
        left:300px;
        transform: translateX(-50%);
        background: #fff;
        padding: 10px 5px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        visibility: hidden;
        a.menu {
          width: 48%;
          height: fit-content;
          display: flex;
          align-items: center;
          padding: 10px;

          margin: 0;
          // margin-bottom: 1rem;
          border-radius: 8px;
          transition: 0.3s;
          &:hover div:nth-child(1) {
            transform: scale(1.1);
          }
          &:hover {
            background: #e7f1fe;
          }
          div {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            color: var(--black-color);
            padding: 0;
            transition: 0.3s;
            margin-right: 15px !important;
            &:nth-child(1) {
              color: var(--primary-color);
              font-size: 1.5rem;
            }
          }
        }
        .activeLinkMenu {
          background: #e7f1fe;
        }
      }

      &:hover > .menus {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
      }
    }
    a.activeLink {
      .barier {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -6px;
          width: 100%;
          height: 2px;
          background: #76da46;
        }
      }
    }
    a.activeLinkContact {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

.navOpen {
  background: var(--white-color);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  .nav__links {
    a,
    div {
      color: var(--black-color);
     
    }
    a.activeLinkContact {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .menus {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn__togglerLine {
    @include media("<=phone") {
      background: #000;
    }
  }
}

/* ============== TOGGLE BUTTON ============= */
.btn__toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 25px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
.btn__toggler:focus {
  outline: none;
}
.btn__togglerLine {
  width: 100%;
  height: 1px;
  background: #fff;
  @include media("<=phone") {
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    height: 2px !important;
  }
}

/* ============== SIDE DRAWER ============= */
.side__drawer {
  height: 100vh;
  width: 70%;
  max-width: 400px;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  transition: 0.3s ease-out;
  z-index: 1500;
  overflow: hidden;
}
.side__drawer.open {
  transform: translateX(0);
}
.Drawerheading {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.Drawerheading a{
  display: block;
  width: 100%;
}
.Drawerheading a img {
  width: 15rem;
}
.drawerLink {
  .up {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  div{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: #222;
    // margin-bottom: 1rem;
    // padding: 0.5rem 1.5rem;
    font-family: var(--font-quick);
    font-weight: 500;

  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: #222;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    font-family: var(--font-quick);
    font-weight: 500;

    span {
      margin-right: 10px;
      display: block;
      &:nth-child(2) {
        color: var(--primary-color);
        font-size: 10px;
        margin-left: 1rem;
      }
    }

    &:hover {
      text-decoration: none;
      color: #222;
    }
  }
  a.olink {
    display: block;
    .link{
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      &:not(:first-child){
        margin-left: 10px;
        font-size: 14px;
        margin-top: 20px;
      }
      svg{
        margin-left: 7px;
      }
    }
  }
  .activeLink {
    border-right: 5px solid var(--primary-color);
    color: var(--primary-color);
  }
}
.backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.backdrop-white {
  background: transparent;
}
@media (min-width: 769px) {
  .btn__toggler {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-items {
    display: none;
  }
}
