@import "../../../styles/breakpoints.scss";

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.heading {
  color: #181b21;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 44px;
  margin: 0;
  max-width: 1024px;
  text-transform: uppercase;
  text-align: left;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 0;
  max-width: 448px;
  text-align: left;
}


.services {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
}


.serviceItem {
  border-radius: 8px;
  background: #f1f4f9;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  width: calc(31.33333% - 21.33333px);
  margin: 0 10px;
  text-align: start;
}

.serviceImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  height: 160px;
  margin-left: -1px;
  margin-top: -1px;
  max-width: calc(100% + 2px);
  width: calc(100% + 2px);
}

.serviceTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px 20px;
}

.serviceDescription {
  font-size: 16px;
  color: #666;
  padding: 0 25px 40px;
}