@import "../../../styles/breakpoints.scss";

.faq {
  background-color: #eee;
  padding: 80px 100px;
  width: 100%;
  @include media("<=phone") {
    padding: 15px;
  }
  @include media(">=LGdesktop") {
    background-color: #ffffff;
  }
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.199969em;
    color: rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.34px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 8px;
    margin-bottom: 60px;
  }
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--font-secondary);
    margin-bottom: 23px;
  }
  p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.000793565em;
    color: rgba(0, 0, 0, 0.7);
  }
}
.faq .faq1{
font-weight: 500;
font-size: 14px;
}
.accordion {
  border: none !important;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  margin-bottom: 8px;
  &::before{
    background: transparent !important;
}

  &__summary {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    background: #e9fcf9 !important;
    display: flex;
    align-items: center;
    padding: 10px !important;
    @include media("<=phone") {
      padding: 24px !important;
    }
    @include media(">=LGdesktop") {
      padding: 24px !important;
    }
    &::before{
        background: transparent !important;
    }
    h3 {
      font-family: var(--font-secondary);
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0;
    }
  }
  &__details {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    background: #f2f2f2;
    padding-top: 0 !important;
    padding-bottom: 24px !important;
    padding-left: 24px !important;
    padding-right: 45px !important;    
    p {
      font-family: var(--font-secondary);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.000793565em;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .ash {
    background: #f2f2f2 !important;
  }
}
