.qaexpertise {
    text-align: center;
    padding: 5rem;
  }
  
  .qaexpertise h1 {
    margin-bottom: 5rem;
    margin-top: 1.2rem;
  }
  .qaexpertise ul {
    margin-bottom: 5rem;
    margin-top: 1.2rem;
  }
  
  .qaexpertisecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  