.qaprocess {
    background-color: #3f6eb6;
    color: white;
    padding: 5rem;
    padding-top: 7rem;
    text-align: center;
  }
  
  .qaheading {
    margin-bottom: 20px;
    color: white;
    font-size: 2.4rem;
    text-align: start;
  }
  
  .qaprocess p {
    margin-bottom: 25px;
    color: white;
    font-size: 1.1rem;
    line-height: 33px;
    text-align: start;
  }
  .qaheading2{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 2rem;
  }
  .qabtn{
    text-align: center; 
    border: none;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 25px;
  }