@import "../../../styles/breakpoints.scss";

.serviceSolution {
  width: 100%;
  position: relative;
  overflow: hidden;

  @include media("<=phone") {
    // display: none;
  }

  .wrapper {
    width: calc(100% - 200px);
    display: flex;
    background: #f7f8fa;
    padding: 4rem;
    margin: 6rem 100px 0 100px;

    &__left {
      width: 40%;

      img {
        width: 90%;
      }
    }

    &__right {
      width: 60%;

      // padding-left: 2rem;
      p {
        font-size: 21px;
        line-height: 26px;
        color: #175fff;
        font-weight: 500;
      }

      h3 {
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-top: 8px;
        margin-bottom: 24px;
        color: #0b2845;
      }

      ul {
        margin-top: 1.2rem;
        list-style: none;

        li {
          display: flex;
          margin-bottom: 10px;

          div {
            &:first-child {
              width: 40px;
              color: var(--primary-color);
            }

            &:last-child {
              width: calc(100% - 40px);
              font-size: 15px;
              line-height: 22px;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }

  h4.sliderHeading {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.34px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .options {
    width: 110%;
    padding-top: 0;
    padding-bottom: 180px;
    margin-left: -4%;

    .option {
      width: 100%;
      height: 19vh;
      padding: 0 2rem;

      .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 1.3rem;
        background: var(--white-color);
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);

        .left {
          width: 80%;
          display: flex;
          align-items: center;

          div {
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
          }

          div {
            &:first-child {
              font-weight: 600;
              font-size: 30px;
              line-height: 42px;
              color: var(--primary-color);
              margin-right: 1rem;
              margin-top: 8px;
            }
          }
        }

        .right {
          width: 20%;
          color: var(--primary-color);
          font-weight: 500;
          font-size: 36px;
          line-height: 42px;
        }
      }
    }
  }

  .absImg {
    position: absolute;
    left: 0;
    bottom: 8rem;
  }
}

.number {
  padding: 2px 5px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  border: 1px solid #175fff;
  color: #175fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.maingridstl {
  margin: 4rem 6rem 0 6rem;

  .card {
    padding: 10px 10px;
  }
}

.mbsrbtn {
  text-align: center;
  margin-top: 30px;

}

.mbsrbtn button {
  background-color: transparent;
  border: hidden;
  font-size: 16px;
  color: blue;
}

.key_back {
  background-color: #0B2845;
}

.key {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 85%;
  margin: auto;
}

.key h1 {
  color: white;
  width: 45%;
  font-size: 36px;
  font-weight: 600;
}

.key p {
  color: #175FFF;
}

.para {
  font-weight: 400;
  font-size: 15px;
  width: 80%;
  color: white !important;
  margin-top: 15px;
}

.key .card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .code {
  width: 25%;
  background-color: #243D57 !important;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  // display: flex;
}

.code img {
  // margin: 10px 0px;
}

.code p {
  font-weight: 400;
  font-size: 15px;
  color: white;
  line-height: 1.5;
}

.code h4 {
  font-weight: 400;
  font-size: 15px;
  color: white;
  margin-bottom: 8px;
}

.blog {
  width: 75%;
  margin: auto;
  // text-align: center;
  margin-top: 50px;
}

.new {
  display: flex;
}

.blog h1 {
  width: 45%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.blog p {
  text-align: center;
  width: 70%;
  margin: auto;
}

.blogg {
  width: 33%;
  margin-top: 30px;
  // padding: 15px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
  margin: 10px;
}

.blogg h2 {
  font-weight: 300;
  margin: 10px 10px;
  font-size: 22px;
}

.blogg .our {
  font-weight: 400;
  font-size: 15px;
  color: black;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
}

.img {
  background: url("../../../assets/Services/back.jpg") no-repeat center center / cover;
  width: auto;
  height: 250px;
}

@media (min-width: 280px) and (max-width: 700px) {
  .key h1 {
    width: 100%;
  }
  .para {
    width: 100%;
  }
  .card .code {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
  }
  .key .card {
    display: block;
  }
  .blog {
    width: 100%;
  }

  .blog h1 {
    width: 100%;
  }
  .blog p {
    width: 100%;
  }
  .new {
    display: block;
  }
  .blogg {
    width: 100% !important;
    margin: 0px;
    margin-top: 15px;
  }
}