@import "../../../styles/breakpoints.scss";

.investors {
    width: 100%;
    padding: 6rem 10rem;
    position: relative;
    background: #F2F2F2;
    @include media("<=phone") {
      padding: 15px;
      padding: 2rem 1rem 0 1rem;
    }

  

   
  
    h4 {
      display: block;
      color: #052f61;
      font-size: 36px;
      font-weight: 600;
      line-height: 42px;
      margin-bottom: 3rem;
      margin-top: 62px;
      text-align: center;
      
      @include media("<=phone") {
        margin-top: 30px;
        margin-bottom: 1.5rem;
        font-size: 26px;
      }
      @include media(">=desktop") {
        display: block;
        font-size: 36px;
        font-weight: 600;
        line-height: 42px;
        margin-bottom: 3rem;
        margin-top: 62px;
        text-align: center;
      }
      @include media(">=tablet") {
        font-size: 27px;
      }
     @include media(">=LGdesktop") {
      display: block;
      font-size: 36px;
      font-weight: 600;
      line-height: 42px;
      margin-bottom: 3rem;
      margin-top: 62px;
      text-align: center;
      }

     

    }
  
    .img {
      position: absolute;
      top: -5rem;
      left: 0;
      height: 16rem;
    }
  }
  