@import "../../../styles/breakpoints.scss";

.investors {
    width: 100%;
    padding: 6rem 10rem;
    position: relative;
    background: #F2F2F2;
    @include media("<=phone") {
      padding: 15px;
    }

    @include media(">=phone") {
      padding: 3rem 3rem;
    }

   
  
    h4 {
      display: block;
      text-align: center;
      margin-bottom: 3rem;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      margin-top: 62px;
      @include media("<=phone") {
        margin-top: 30px;
        margin-bottom: 1.5rem;
        font-size: 26px;

      }
      @include media(">=LGdesktop") {
        margin-bottom: 5rem;
      }
      @include media(">=desktop") {
        margin-bottom: 4rem;
      }
      @include media(">=tablet") {
        font-size: 27px;
      }
     

     

    }
  
    .img {
      position: absolute;
      top: -5rem;
      left: 0;
      height: 16rem;
    }
  }
  