@import "../../styles/breakpoints.scss";

.footer {
  width: 100%;
  min-height: 20vh;
  display: flex;
  padding: 80px 120px 80px 100px !important;
  @include media("<=phone") {
    // padding: 63px 15px 15px 15px;
    padding: 32px 60px 30px 15px !important;
    flex-wrap: wrap;
    // padding: 80px 94px 80px 70px;
  }
  @include media(">=tablet") {
    padding: 80px 94px 80px 70px;
  }
  @include media("<=tablet") {
    padding: 80px 60px 80px 44px;
  }

  @include media(">=LGdesktop") {
    padding: 87px 160px !important;
   
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -3.12962e-5em;
    color: #147bf3;
    font-family: var(--font-primary);
    @include media(">=desktop") {
      font-size: 18px;
    }

    @include media(">=LGdesktop") {
      font-size: 15px;
    }

  }

  &__one {
    width: 41%;
    @include media("<=phone") {
      width: 100%;
    }
    img {
      width: 40%;
      margin-bottom: 1.2rem;
      @include media("<=phone") {
        width: 80%;
      }
      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=LGdesktop") {
        width: 38%;
        margin-bottom: 1.2rem;
      }
    }
    p {
      width: 70%;
      font-size: 15px;
      line-height: 21px;
      font-family: var(--font-secondary);
      @include media("<=phone") {
        width: 100%;
      }
      @include media(">=tablet") {
        line-height: 15px;
        font-size: 13px;
      }
      @include media(">=desktop") {
        font-size: 14px;
      }
   
      @include media(">=LGdesktop") {
        font-size: 15px;
        line-height: 20px;
      }
    
 
    }
    .info {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      @include media(">=LGdesktop") {
        margin-top: 28px;
      }

      h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -3.12962e-5em;
        color: #000000;
        margin-bottom: 8px;
        @include media(">=desktop") {
          font-size: 17px;
        }

        @include media(">=LGdesktop") {
          font-size: 15px;
        }
      }

      .icon , .icon2{
        display: flex !important;
        gap: 6px !important;
        color: blue;
        margin-top: 7px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        font-family: var(--font-secondary);
        @include media(">=desktop") {
          font-size: 15px;
        }
        @include media(">=LGdesktop") {
          font-size: 15px;
        }
    

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  &__two {
    width: 23%;
    @include media("<=phone") {
      width: 100%;
      margin-top: 27px;
    }
    @include media(">=LGdesktop") {
      margin-left: 70px;
    }

    a {
      display: block;
      text-decoration: none;
      margin-top: 1.5rem;
      font-size: 1rem;
      color: var(--black-color);
      font-family: var(--font-secondary);
      transition: 0.3s;
      &:hover {
        color: #777;
      }
      @include media("<=phone") {
        margin-top: 18px;
        font-size: 11px;
      }
      @include media("<=tablet") {
        font-size: 11px;
      }
      @include media(">=tablet") {
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0px;
      }
      @include media(">=desktop") {
        font-size: 0.9rem;
        font-weight: 500;
      }
      @include media(">=LGdesktop") {
        font-size: 15px;
        font-weight: 500;
      }


    }
  }
  &__three {
    width: 23%;
    @include media("<=phone") {
      width: 100%;
      margin-top: 27px;
    }

    @include media (">=tablet"){
      width: 27%;
    }
    a {
      display: block;
      text-decoration: none;
      margin-top: 1.5rem;
      font-size: 1rem;
      color: var(--black-color);
      font-family: var(--font-secondary);
      transition: 0.3s;
      &:hover {
        color: #777;
      }
      @include media("<=phone") {
        margin-top: 18px;
        font-size: 11px;
      }
      @include media(">=tablet") {
        font-size: 11px;

        font-weight: 500;
        letter-spacing: 0px;
      }
      @include media(">=desktop") {
        font-size: 0.9rem;
        font-weight: 500;
      }
 
      @include media(">=LGdesktop") {
        font-size: 15px;
        font-weight: 500;
      }


    }
  }
  &__four {
    width: 23%;
    @include media("<=phone") {
      width: 100%;
      margin-top: 27px;
    }
    a {
      display: block;
      text-decoration: none;
      margin-top: 1.5rem;
      font-size: 1rem;
      color: var(--black-color);
      font-family: var(--font-secondary);
      transition: 0.3s;
      &:hover {
        color: #777;
      }
      @include media("<=phone") {
        margin-top: 18px;
        font-size: 11px;
      }
      @include media(">=tablet") {
        font-size: 11px;

        font-weight: 500;
        letter-spacing: 0px;
      }
      @include media(">=desktop") {
        font-size: 0.9rem;
        font-weight: 500;
      }
      @include media(">=LGdesktop") {
        font-size: 15px;
        font-weight: 500;
      }


    }
  }
}

.regions {
  padding: 32px 120px 32px 100px !important;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  @include media("<=phone") {
    padding: 32px 15px  !important;
    flex-wrap: wrap;
  }
  @include media(">=tablet") {
    padding: 32px 67px;
  }
  @include media(">=tablet") {
    padding: 32px 120px;
  }
  @include media(">=LGdesktop") {
    padding: 32px 160px !important;
  }

  .region {
    width: 25%;
    @include media("<=phone") {
      width: 100%;
      margin-top: 18px;
    }
    h5 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -3.12962e-5em;
      color: #000000;
      margin-bottom: 8px;
      margin-top: 10px;
      line-height: 23px;
      @include media(">=desktop") {
        font-weight: 700;
      }

      @include media(">=LGdesktop") {
        font-size: 14px;
      }

    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      @include media("<=tablet") {
        font-size: 10px;
        font-weight: 600;
      }
      @include media(">=tablet") {
        font-size: 12px;
      }
      @include media(">=desktop") {
        font-weight: 500;
        font-size: 12px;
      }
 
      @include media(">=LGdesktop") {
        font-size: 14px;
      
        font-weight: 500;
      }

    }
    span {
      color: #147bf3;
      font-size: 20px;
      @include media(">=LGdesktop") {
        font-size: 25px;
      }
    }
   
  }
}

.copyright {
  background: #ccc;
  color: var(--black-color);
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: var(--font-secondary);
  @include media("<=phone") {
    text-align: center;
  }
}

.icon > img {
  width: 20px;
  height: 18px;
  // margin-top: 10px;
}

.icon2{
  display: flex;
}
.icon2 > img {
  width: 20px;
  height: 16px;
  margin-top: 2px;
  margin-right: 8px;
}
.skype {
  width: 25px!important;
  height: 25px!important;
  margin-top: 0!important;
}