@import "../../../styles/breakpoints.scss";

.businessAppSec {
  .container {
    background: url(https://www.andolasoft.com/images/approach/business-app-bg.png) no-repeat 0px 0px #fff;
    width: 100%;
    padding: 100px 0px 70px;
  }

  .textCenter {
    text-align: center;
  }

  .articleP {
    font-size: 13px;
    color: #333;
    display: block;
    padding-left: 65px;
    position: relative;
    line-height: 20px;
    margin: 15px 0px 60px 65px;


    .articleLink {
      color: #336699;
      text-decoration: none;
    }
  }
  .articleP:before{

  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(https://www.andolasoft.com/images/approach/team-small.png) no-repeat 0px 0px;
  background-size: 100% auto;
  width: 50px;
  height: 45px;
}
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }

  .fr h2 {
    color: #36295f;
    text-transform: none;
  }
  .cb {
    clear: both;
  }
  .width55 {
    width: 55%;
  }
  .width40 {
    width: 40%;
  }
  .width100 {
    width: 100%;
    margin-top: 100px;
  }

  .main {
    font-weight: 600;
    color: #333;
    font-size: 27px;
    margin: 25px 0px;
    display: block;
  }
  .btnCmnEffect {
    background: #69A132;
    border-color: #69A132;
    font-size: 22px;
    padding: 22px 50px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
  }
  .cmnBlueBtnBg:hover {
    border: 2px solid #69A132;
    background: #f0f4f5;
    color: #69A132;
    font-size: 22px;
    padding: 22px 50px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
  margin-top: 20px;
  }
 

  .talk {
    display: block;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 600;
  }
}
