@import "../../../styles/breakpoints.scss";

.services {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f7;

  @include media("<=phone") {}

  &__text {
    padding-top: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;

    @include media("<=phone") {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 60px;
    }

    h1 {
      line-height: 42px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 36px;
      
      @include media("<=phone") {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: -1px;
      }
      @include media(">=LGdesktop"){
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.8rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      span {
        color: #175fff;
      }
    }

    p {
      width: 50%;
      margin: auto;
      text-align: center;
      font-size: 13px;
      font-weight: 250;
      line-height: 21px;
      color: var(--black-color);
      font-family: var(--font-secondary);

      @include media("<=phone") {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }

      @include media(">=LGdesktop") {
        width: 50%;
        font-size: 15px;
        font-weight: 400;
        margin-top: 16px;
      }
    }
  }

  &__all {
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;

    @include media("<=phone") {
      padding-bottom: 1.5rem;
      margin-top: 2rem;
    }

    @include media(">=LGdesktop") {
      margin-top: 7rem;
    }

    .slider {
      width: 100%;
      // margin-left: -6.3%;

      @include media("<=phone") {
        width: 250%;
        margin-left: -75%;
      }

      .service {
        width: 20%;
        height: fit-content;

        // padding: 1.5rem;
        @include media("<=phone") {
          padding: 10px;
        }

        &__content {
          width: 60%;
          height: fit-content;
          border-radius: 8px;
          padding: 1rem;
          background: #ffffff;
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
          border: 1px solid transparent;
          transition: all 0.3s;
        margin: 30px auto;

          @include media("<=phone") {
            padding: 1rem;
          }

          @include media(">=LGdesktop") {
            padding: 2rem;
            width: 85.99%;
            margin-bottom: 10px;
          }

          img {
            width: 3rem;
            margin-bottom: 24px;
            transition: 0.3s;

            @include media("<=phone") {
              width: 4rem;
              margin-bottom: 20px;
            }
          }

          h3 {
            font-size: 21px;
            margin-bottom: 26px;
            font-weight: 500;
            letter-spacing: -0.00272em;
            margin-bottom: 14px;
            color: #231F20;
          }

          p {
            font-family: var(--font-secondary);
            font-size: 15px;
            line-height: 21px;
            color: #231F20;
            font-weight: 400;
            text-align: left;

            @include media("<=phone") {}
          }

          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #175fff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            margin-top: 22px;

            span {
              &:first-child {
                opacity: 0;
                margin-left: 8px;
                transition: all 0.4s;
              }

              &:last-child {
                margin-left: -2rem;
                font-size: 1.5rem;
                transition: all 0.3s;
              }
            }
          }

          &:hover {
            border: 1px solid var(--primary-color);
            cursor: pointer;
          }

          &:hover a span:first-child {
            opacity: 1;
          }

          &:hover a span:last-child {
            margin-left: 8px;
          }

          &:hover img {
            transform: scale(0.85);
          }
        }
      }
    }

    .globalLink {
      width: 100%;
      text-align: center;
      padding: 2rem 0;

      @include media(">=LGdesktop") {
        padding-top: 4rem;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #325ce8;

        span {
          font-size: 1.2rem;
          margin-top: 5px;
          margin-left: 10px;
          font-weight: bold;
          transition: all 0.3s;
        }

        &:hover span {
          transform: translateX(7px);
        }
      }
    }
  }
}

.servicetexth1 {
  display: flex;
  justify-content: center;
}

.servicediv {
  width: 50%;
}

@include media("<=phone") {
  .servicediv {
    width: 100%;
  }
}


.slider {
  position: relative;
  overflow: hidden;
  
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5); // Background color for better visibility
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
}