@import "../../../styles/breakpoints.scss";

.investors {
  width: 100%;
  padding: 2rem 10rem 6rem;
  position: relative;
  @include media("<=phone") {

    padding: 2rem 0.5rem 6rem 0.5rem !important;
  }
  @include media("<=tablet") {
    padding: 2rem 2.5rem 6rem 2.5rem;
  }
  @include media(">=LGdesktop") {
  
  }



  h4 {
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 243px;
    text-align: center;
    @include media("<=phone") {
      display: none;
    }
    @include media(">=LGdesktop") {
      margin-bottom: 50px;
    }
  }

  .img {
    position: absolute;
    bottom: -5rem;
    right: 0;
    height: 16rem;
  }
}
