@import "../../../styles/breakpoints.scss";

.platformsSection {
  padding: 60px 20px;
  background-color: white;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .subheading {
    font-size: 1rem;
    color: #6d7d7f;
    margin-bottom: 40px;
    line-height: 25px;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .card {
    padding: 0 15px 20px;
    width: 50%;

    .cardImage {
      margin-bottom: 10px;
      background-color: rgba(149, 171, 71, 0.15);
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 12px 14px;
    }

    .cardName {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 18px;
    }

    .cardTitle {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .cardDescription {
      font-size: 1rem;
      color: #666;
      line-height: 24px;
    }
  }
  .cardInner {
    box-shadow: 0 0 30px #aeaeae66;
    border-radius: 5px;
    background-color: white;
    padding: 40px;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
  }
  .cardInner:hover {
    border: 2px solid #95bf47;
  }
}
