

.background {
    background-color: rgb(11, 40, 69);
    width: 100%;
    min-height: 50vh;
    padding: 65px 100px 100px 100px;
}
.text {
    div.logo {
      font-size: 1.5rem;
      color: #165FFF;
    }
    h3 {
      font-family: var(--font-secondary);
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: -0.0419664px;
      color: rgb(229, 229, 229);
    }
    h1 {
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.34px;
      margin-bottom: 24px;
      margin-top: 16px;
      color: rgb(252, 252, 252);
    }
    p {
      font-family: var(--font-secondary);
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: -0.0419664px;
      color: rgb(178, 178, 178);
    }
  }

  .tech_container {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
  }

  .tech_box {
    background-color: rgb(36, 61, 87);
    width: 23%;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .tech_box > img {
    border-radius: 50%;
    border: none;
    width: 21%;
    height: auto;
  
  }

  .tech_box > h3 {
    margin-top: 10px;
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.0419664px;
    color:   rgb(229, 229, 229);;
  }