@import "../../../styles/breakpoints.scss";

.investors {
  width: 100%;
  padding: 3rem 10rem 2rem 10rem;
  position: relative;
  @include media("<=phone") {
    padding: 15px;
  }

  h4 {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-top: 62px;
    color: #0B2845 !important;
    @include media("<=phone") {
      margin-top: 2rem;
    }
  }

  .img {
    position: absolute;
    top: -5rem;
    left: 0;
    height: 16rem;
  }
}
