@import "../../../styles/breakpoints.scss";


.tech {
  width: 100%;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
  &__text {
    padding-top: 80px;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 36px;
      line-height: 42px;
      font-weight: 600px;
      letter-spacing: -0.34px;
    }
    p {
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      font-family: var(--font-secondary);
      @include media(">=LGdesktop") {
        font-family: var(--font-secondary);
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        margin: auto auto 1rem;
        text-align: center;
        width: 45%;
      }
    }
    @media (min-width: 280px) and (max-width: 700px) {
      p {
        width: 100%;
      }
    }
  }

  &__slider {
    width: 100%;
    padding-top: 0;
    margin-top: 123px;
    margin-bottom: 123px;
    margin-left: -4%;
    @include media(">=LGdesktop"){
      width: 110%;
    }
    .slide {
      width: 100%;
      // padding: 0 2rem;
      display: flex;
      justify-content: center;
      @include media (">=LGdesktop"){
        padding: 0px 2.5rem;
      }
      .wrap {
        width: calc(100% - 13px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        @include media (">=LGdesktop"){
          align-items: center;
          border: 2px solid rgba(0, 0, 0, .2);
          border-radius: 9px;
          display: flex;
          flex-direction: column;
          padding: 24px 0;
          // width: calc(100% - 13px);
          width: 323px;
          height: 215px;
        }
        .image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 10px solid #ccffee;
          display: flex;
          align-items: center;
          justify-content: center;
          .img {
            height: 80px;
            max-width: 90px;
          }
        }
        p {
          font-family: var(--font-primary);
          font-size: 22px;
          line-height: 28px;
          text-align: center;
          letter-spacing: -0.00272em;
          color: rgba(0, 0, 0, 0.7);
          text-transform: uppercase;
          margin-top: 22px;
        }
      }
    }
  }
}
